[Unit]
Description=Webhook Listener
After=network.target

[Service]
ExecStart=webhook -hooks /home/ec2-user/hooks.yaml
Restart=always

[Install]
WantedBy=multi-user.target
