name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Project4/web-content/Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/project3-website:latest
    - name: Push the Docker Image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/project3-website:latest