name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Project4/web-content/Dockerfile --tag project3-website:$(date +%s)
